<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe62c;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="用户列表" data-href="{:U('WXuser/index')}" href="{:U('WXuser/index')}"
                           target="iframe">商品用户</a>
                    </li>
                    <li>
                        <a data-title="用户列表" data-href="{:U('WXuser/user')}" href="{:U('WXuser/user')}"
                           target="iframe">预约用户</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe620;</i> 场馆管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="场馆列表" data-href="{:U('Venue/venue_index')}" href="{:U('Venue/venue_index')}"
                           target="iframe">场馆列表</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <!-- <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe620;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="全部商品" data-href="{:U('Shop/product')}" href="{:U('Shop/product')}" target="iframe">全部商品</a>
                    </li>
                    <li>
                        <a data-title="商品分类" data-href="{:U('Shop/category')}" href="{:U('Shop/category')}" target="iframe">商品分类</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe620;</i> 服务产品<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="分店管理" data-href="{:U('Chain/index')}" href="{:U('Chain/index')}"
                           target="iframe">分店管理</a>
                    </li>
                    <li>
                        <a data-title="空间服务" data-href="{:U('Course/index')}" href="{:U('Course/index')}"
                           target="iframe">空间服务</a>
                    </li>
                    <li>
                        <a data-title="视频列表" data-href="{:U('Supplier/index')}" href="{:U('Supplier/index')}" target="iframe">供应商列表</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe643;</i> 课程管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="课程安排" data-href="{:U('Supplier/curr')}" href="{:U('Supplier/curr')}" target="iframe">课程安排</a>
                    </li>
                    <li>
                        <a data-title="老师安排" data-href="{:U('Service/lists')}" href="{:U('Service/lists')}" target="iframe">老师安排</a>
                    </li>
                    <li>
                        <a data-title="时间安排" data-href="{:U('Booking/service')}" href="{:U('Booking/service')}"
                           target="iframe">时间安排</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe650;</i> 视频管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="添加视频" data-href="{:U('Video/add')}" href="{:U('Video/add')}" target="iframe">添加视频</a>
                    </li>
                    <li>
                        <a data-title="视频列表" data-href="{:U('Video/video')}" href="{:U('Video/video')}" target="iframe">视频列表</a>
                    </li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe627;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Lists/lists')}" data-title="商品订单" href="{:U('Lists/lists')}"
                           target="iframe">商品订单</a>
                    </li>
                    <li><a data-href="{:U('Lists/index')}" data-title="预约订单" href="{:U('Lists/index')}"
                           target="iframe">预约订单</a>
                    </li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe685;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Picture/banner')}" data-title="幻灯片管理" href="{:U('Picture/banner')}"
                           target="iframe">轮播图管理</a></li>
                    <li><a data-href="{:U('Picture/top')}" data-title="盒子展示图" href="{:U('Picture/top')}"
                           target="iframe">盒子展示图</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe621;</i> 财务统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="个人财务统计" data-href="{:U('Statistics/index')}" href="{:U('Statistics/index')}"
                           target="iframe">个人财务统计</a>
                    </li>
                    <li>
                        <a data-title="财务统计" data-href="{:U('Statistics/total')}" href="{:U('Statistics/total')}"
                           target="iframe">财务总计</a>
                    </li>
                    <li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe653;</i> 权限管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Adminuser/adminuser')}" data-title="管理员列表" href="{:U('Adminuser/adminuser')}" target="iframe">管理员列表</a></li>
                    <li><a data-href="{:U('Adminuser/role_auth')}" data-title="角色管理" href="{:U('Adminuser/role_auth')}" target="iframe">角色管理</a></li>
                    <li><a data-href="{:U('Adminuser/adminuser')}" data-title="权限管理" href="{:U('Adminuser/adminuser')}" target="iframe">权限管理</a></li>       
                </ul>
            </dd>
        </dl> -->

    </div>

</aside>