.offline2-title{
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 72px;
    letter-spacing: 0px;
    color: #232323;
}
.offline2-title-down{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #999999;
}
.offline2-title-desc{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #232323;
}