<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe625;</i> <a data-title="基本信息" data-href="{:U('Supplier/index')}" href="{:U('Supplier/index')}" target="iframe">基本信息</a></dt>
        </dl>
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe639;</i> <a data-title="服务安排" data-href="{:U('Service/index')}" href="{:U('Service/index')}" target="iframe">服务安排</a></dt>
        </dl>
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe621;</i> 财务统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="服务明细" data-href="{:U('Finance/index')}" href="{:U('Finance/index')}"
                           target="iframe">服务明细</a>
                    </li>
                    <li>
                        <a data-title="财务汇总" data-href="{:U('Finance/total')}" href="{:U('Finance/total')}"
                           target="iframe">财务汇总</a>
                    </li>
                </ul>
            </dd>
        </dl>
</aside>