<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/icheck/icheck.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css"/>
    <title>分店列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 服务产品 <span class="c-gray en">&gt;</span> 空间服务 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="cl pd-5 bg-1 bk-gray mt-20" style="margin-left: 20px"><span class="l" style="margin-right: 10px"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" onclick="" href="{:U('Course/operation')}"><i class="Hui-iconfont">&#xe600;</i> 添加空间</a></span><a href="{:U('Excels/expCourse')}?category_id={$category_id}&status={$status}"><input class="btn btn-success radius" id="aaa" type="button" value="Excel导出" ></a> <span class="r">共有数据：<strong>{$num}</strong> 条</span></div>
<div style="margin-left: 20px;margin-top: 20px">
    <form class="form form-horizontal" action="" method="post">
        <select name="category_id" style="height: 30px;width: 80px;text-align: center;">
            <option value="">全部分类</option>
            <volist name="category" id="v" empty="暂时没有数据">
                <option value="{$v.id}" <if condition="$v.id eq $category_id"> selected="selected" </if>>{$v.name}</option>
            </volist>
        </select>&nbsp;
        <select name="status" style="height: 30px;width: 80px;text-align: center;">
            <option value="">状态</option>
            <option value="1" <if condition="$status eq 1">selected="selected"</if> >正常</option>
            <option value="2" <if condition="$status eq 2">selected="selected"</if> >禁用</option>
        </select>&nbsp;&nbsp;
        <input class="btn btn-success radius" type="submit" value="搜索">
    </form>
</div>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="30"><input name="" type="checkbox" value=""></th>
                <th width="40">ID</th>
                <th>名称</th>
                <th>分类</th>
                <th>地址</th>
                <th>设备名称</th>
                <th>上限</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="course_data" id="v" empty="暂时没有数据">
                <tr class="text-c">
                    <td><input name="" type="checkbox" value=""></td>
                    <td>{$v.sid}</td>
                    <td>{$v.course_name}</td>
                    <td class="text-c">{$v.cate_name}</td>
                    <td>{$v.address}</td>
                    <td>{$v.device_name}</td>
                    <td>{$v.relationship}</td>
                    <td class="td-status">
                        <if condition='$v.status eq 1'>
                            <span class="label label-success radius">正常</span>
                        <else/>
                            <span class="label label-defaunt radius">禁用</span>
                        </if>
                    </td>
                    <td class="td-manage">
                        <if condition="$v.status eq 1">
                            <a style="text-decoration:none" href="javascript:;" title="禁用" status="{$v.status}" course_id="{$v.sid}" class="check_status"><i class="Hui-iconfont">&#xe631;</i></a>
                        <else />
                            <a style="text-decoration:none" href="javascript:;" title="正常" status="{$v.status}" course_id="{$v.sid}" class="check_status"><i class="Hui-iconfont">&#xe6e1;</i></a>
                        </if>
                        <a style="text-decoration:none" class="ml-5" onClick=""
                           href="{:U('Course/operation')}?id={$v.sid}" title="修改"><i class="Hui-iconfont">&#xe6df;</i></a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[1, "desc"]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable": false, "aTargets": [0]}// 制定列不参与排序
        ]
    });
    //修改分店状态
    $(document).on('click','.check_status',function(){
        if (confirm('你确定要修改盒子状态吗？')) {
            var status = $(this).attr('status');
            var course_id = $(this).attr('course_id');
            var _this = $(this);
            $.ajax({
                url      : 'check_status',
                type     : 'GET',
                data     : {status:status,course_id:course_id},
                dataType : 'text',
                success  : function(data){
                    if (data == 1) {
                        _this.attr({title:'禁用',status:data});
                        _this.find('i').html('&#xe631;');
                        _this.parent().prev().find('span').html('正常');
                        _this.parent().prev().find('span').attr('class','label label-success radius');
                    }else{
                        _this.attr({title:'正常',status:data});
                        _this.find('i').html('&#xe6e1;');
                        _this.parent().prev().find('span').html('禁用');
                        _this.parent().prev().find('span').attr('class','label label-defaunt radius');
                    }
                }
            })
        }
    })   
</script>
</body>
</html>